@use "../themes/duckquill/sass/mods/sticked-nav";
@use "../themes/duckquill/sass/mods/classic-del";
// @use "../themes/duckquill/sass/mods/modern-headings";
@use "../themes/duckquill/sass/mods/modern-hr";

/* Font Faces */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&display=swap')

// Use top navbar
// @see https://duckquill.daudix.one/tricks/#navbar

#site-nav {
	background: var(--bg-color);
	border: 1px solid var(--fg-muted-2);
	border-top: none;
}


body {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.25;
}

footer {
  font-size: .9rem;
}