---js
const eleventyNavigation = {
	key: "Links",
	order: 3
};
const title = "Links";
---
<h1>Links</h1>

<p>From elsewhere on the web.</p>

{% set noteslist = collections.links %}
{% include "noteslist.njk" %}
