---js
const eleventyNavigation = {
	key: "Projects",
	order: 2
};
const title = "Projects";
---
<h1>Projects</h1>

<p>Scratching my own itch or sometimes solving issues for others, these small projects are somewhat cool or worth mentioning.</p>
<p>I'm also managing a few websites for clients, but those are not all listed here.</p>

{% set postslist = collections.projects %}
{% include "projectslist.njk" %}
