---
eleventyExcludeFromCollections: true
permalink: /robots.txt
layout: false
---
User-agent: *
Allow: /
Disallow: /centris-scraper-privacy-policy/

Host: {{ metadata.url }}

Sitemap: {{ metadata.url }}sitemap.xml