{% macro button(text,url) %}
    <p style="    margin-top: 1.1rem;
                margin-bottom: 1.8rem;">
        <a style="padding: 0.4rem 1rem 0.5rem 1rem;
                border: 1px solid var(--mid-blue);border-radius:6px" href="{{ url }}">{{ text }} →</a>
        </p>
    {% endmacro %}