<div class="about">
  <div class="about_inner">
    <h1>Hello! Salut!</h1>
    <p>I'm Jérémi. Here I write about stuff I do and learn online.</p>
    <p>I'm hoping this place can be a <a href="https://maggieappleton.com/garden-history">digital garden</a>. A kind of space where I work and think with the <a href="https://notes.andymatuschak.org/zCMhncA1iSE74MKKYQS5PBZ">garage door up</a>.</p>
    <p>I'm currently working as a Cloud/DevOps Engineer.</p>
    <p>
      📍 Based in Montréal, Qc.<br>
      ✉️ <a href="mailto:hi@jrb.nz">hi@jrb.nz</a>
    </p>
  </div>
</div>

<style>
.about {
  /*width: 96vw;*/
  max-width: calc(var(--width) + 50px);
}

.about_inner {
  {# font-size: var(--font-small); #}
  padding: var(--gap) 25px;
  border: var(--border) solid var(--gray-line);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.about_inner h1 {
  margin: 0;
}

.about_inner p {
  margin: 0;
  {# line-height: 1.6; #}
}

.about_inner a {
  color: inherit;
  text-decoration: underline;
}

.about_inner a:hover {
  opacity: 0.8;
}
</style>