<footer>
    <p>
        Built with <a href="https://www.11ty.dev/">{{ eleventy.generator }}</a>
    </p>
    <p>
    The content of this site is <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC-BY-SA-4.0</a>.
    </p>

    <p>
    <a href="/">RSS feed</a>
    <a href="/">HTML Sitemap</a>
    <a href="/">humans.txt</a>
    <a href="/colophon/">Colophon</a>
    </p>

</footer>
<!-- This page `{{ page.url }}` was built on {% currentBuildDate %} -->
