<!doctype html>
<html lang="{{ metadata.language }}">
	{% include "../components/head.njk" %}
	<body>
		<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>

		<header>
			<a href="/" class="home-link logo">
				{% include "../components/logo.njk" %}
				{% include "../components/nav.njk" %}
		</header>

		<main id="main">
			<heading-anchors>
				{{ content | safe }}
			</heading-anchors>
		</main>

		{% include "../components/footer.njk" %}

		<script type="module" src="{% getBundleFileUrl "js" %}"></script>

		{# Only load mermaid if instructed to do so in the post's front matter. #}
    	{% if mermaid %}
      		<script type="module" async eleventy:ignore>
      			import mermaid from "https://cdn.jsdelivr.net/npm/mermaid@11/dist/mermaid.esm.min.mjs";
      			document.addEventListener('DOMContentLoaded', () => mermaid.initialize({ startOnLoad: true }));
      		</script>
    	{% endif %}
	</body>
</html>
